@import '../../theme.scss';


.Landing {
    height: 100vh;
    position: relative;

    &-Img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &-Overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
    }

    &-OverlayPrimary {
        height: 100%;
        width: 27%;
        left: 0;
        position: absolute;
        background-color: #bf3939ef;
    
    }
    
    &-OverlaySecondary {
        height: 100%;
        position: absolute;
        right: 0;
        width: 73%;
        background-color: #000000ad;
    }
    
    &-Content{
        position: absolute;
        top: 0;
        left: calc((100% - 1300px) / 2);
        display: flex;
        height: 100%;
        width: 1300px;
        align-items: center;
    }

    &-ContentInner {
        margin: 0 auto;

        @media ($tabletSmall) {
                width: 450px;
        }

        @media ($tablet) {
      
                width: 550px;          
        }
        
        @media ($desktop) {
        
                width: 960px;           
        }
        
        @media ($desktopLarge) {
          
                width: 1280px;
        }
    }
    
    
    &-Title{
        color: $colorBgSecondary;
        font-size: 56px;
        width: 550px;
        margin-bottom: 24px;

        @media ($tabletSmall) {
    
                width: 450px;
                font-size: 56px; 
        }
    }

    
    &-Subtitle{
        color: $colorBgSecondary;
        font-size: 16px;
        width: 440px;
        margin-bottom: 48px;

        @media ($tabletSmall) {
           
                font-size: 16px;        
        }
    }
}